@font-face {
  font-family: now_bold;
  src: url("../assets/fonts/now/Now-Bold.otf");
}

@font-face {
  font-family: now_light;
  src: url("../assets/fonts/now/Now-Light.otf");
}

@font-face {
  font-family: now_medium;
  src: url("../assets/fonts/now/Now-Medium.otf");
}

@font-face {
  font-family: now_regular;
  src: url("../assets/fonts/now/Now-Regular.otf");
}

@font-face {
  font-family: now_thin;
  src: url("../assets/fonts/now/Now-Thin.otf");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10%;
  font-family: now_regular;
}

@media (max-width: 720px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10rem 10% 10% 10%;
  }
}

.header__right img {
  height: 110vh;
  -webkit-filter: drop-shadow(0 2px 1rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 2px 1rem rgba(0, 0, 0, 0.2));
}

@media (max-width: 720px) {
  .header__right img {
    height: 20rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.header__btn {
  margin-top: 1rem;
  background-color: #545454;
  color: #fff;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  font-family: now_regular;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
}

body {
  background-color: #FEFEFE;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: now_bold;
  line-height: 4rem;
  letter-spacing: -0.2rem;
  -webkit-filter: drop-shadow(0 1px 9px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 1px 9px rgba(0, 0, 0, 0.2));
}

.logo__dark {
  color: #000;
  font-size: 4rem;
}

.logo__light {
  font-size: 5.4rem;
  color: #545454;
}

.logo__tagline {
  letter-spacing: normal;
  line-height: 2.5rem;
  font-family: now_regular;
  margin: 0;
  font-size: 1.4rem;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  font-family: now_regular;
}

@media (max-width: 720px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__img img {
  height: 30rem;
  -webkit-filter: drop-shadow(0 1px 1rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 1px 1rem rgba(0, 0, 0, 0.2));
}

@media (max-width: 720px) {
  .about__img img {
    height: 20rem;
  }
}

.about__content {
  padding: 0 10%;
}

@media (max-width: 720px) {
  .about__content {
    margin: 4rem 0;
  }
}

.footer {
  height: 10rem;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 720px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__social-links img {
  height: 2rem;
  margin: 1rem;
}

.quote {
  padding: 4rem 10% 0rem 10%;
  text-align: center;
  font-family: now_regular;
  font-size: 1.8rem;
}

@media (max-width: 720px) {
  .quote {
    padding: 0rem 10% 0rem 10%;
  }
}

.quote__author {
  text-align: right;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */